body {
    background-color: rgb(218, 217, 216);
}

h1,
h2 {
    margin: 10px;
    margin-bottom: 25px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-shadow: 2px 2px 2px #86c6ec;
    text-align: center;
    color: #332b22;
}

.button-container {
    text-align: center;
}

@media only screen and (min-width:723px){
    .button-container{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        text-align: -webkit-center;
    }
    .answer {
        margin-bottom: 20px;
        font-size: 20px;
    }
}

.answer {
    border: 1px solid #3b88ca;
    padding: 5px 30px 5px 28px;
    width: 100%;
    position: relative;
    text-align: left;
}

.answer.selected {
    color: #4f4c4c;
    background-color: #85f96a;
    margin-right: 5%;
}

.answer:hover {
    color: #4f4c4c;
    background-color: #85f96a;
}

.answer:focus {
    outline: none;
}

.results span.correct {
    color: #2f7b1d;
}

.results span.failed {
    color: #941313;
}

.error {
   color:  #941313;
}

.letter {
    color: #4f4c4c;
    width: 30px;
    position: absolute;
    left: 0;
    text-align: center;
    height: 28px;
    top: 0;
    padding: 5px;
    text-transform: uppercase;
}

.btn {
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    margin-right: 5%;
    outline: none;
}

.confirm-button {
    margin-top: 5px;
    text-align: left;
}

.btn-stop {
    color: #4f4c4c;
    background-color: #07d1ff;
    font-weight: bold;
    border-radius: 42%;
    box-shadow: 13px 11px 7px #0000009e;
    outline: none;
}
.btn-stop:hover {
    color: #4f4c4c;
    background-color: #0691b1;
    font-weight: bold;
    border-radius: 42%;
    box-shadow: 13px 11px 7px #0000009e;
    outline: none;
}

.bubble-container {
    text-align: right;
    margin-right: 163px;
}

@media only screen and (min-width: 630px){
    .bubble-container {
        margin-right: 205px;
    }
}

.hello {
    max-width: 175px;
    margin-top: 20px;
    padding-top: 35px;
}

.rhino-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: -27px;
}
/* 
.goodbye {
    max-width: 175px;
    margin-left: 155px;
    margin-top: -10%;
} */

.btn:focus {
    outline: none !important;
}

.grass-container {
    text-align: left;
}

img {
    width: 11.5em;
}

/* .grassy {
    max-width: 45%;
    margin-top: -36%;
} */

.sloppy {
    color: #4f4c4c;
    background-color: #07ff45;
    font-weight: bold;
    border-radius: 42%;
    box-shadow: 13px 11px 7px #0000009e;
    outline: none; 
    float: right;
}

.sloppy:hover {
    color: #4f4c4c;
    background-color: #06bb33;
    font-weight: bold;
    border-radius: 42%;
    box-shadow: 13px 11px 7px #0000009e;
    outline: none;
    float: right;
}

.btn-go {
    color: #463d3d;
    background-color: #f9b230;
    font-weight: bold;
    border-radius: 42%;
    box-shadow: 13px 11px 7px #0000009e;
    outline: none;
    float: right;
}

.btn-go:hover {
    color: #463d3d;
    background-color: #d29527;
    font-weight: bold;
    border-radius: 42%;
    box-shadow: 13px 11px 7px #0000009e;
    outline: none;
    float: right;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
}

.submit-form {
    background: #9cbbb6e8;
    position: absolute;
    top: 180px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 280px;
    border: 6px solid #6d6565;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 10px 10px 10px grey;
    font-family: 'Montserrat Alternates', sans-serif;
}

.pop {
    color: #4f4c4c;
    background-color: #07ff45;
    font-weight: bold;
    border-radius: 42%;
    box-shadow: 13px 11px 7px #0000009e;
    outline: none; 
    float: right;
    margin: 30px 25px 20px 18px;
}

.pop:hover {
    color: #4f4c4c;
    background-color: #06bb33;
    font-weight: bold;
    border-radius: 42%;
    box-shadow: 13px 11px 7px #0000009e;
    outline: none;
    float: right;  
}

.drink {
text-align: center;
}

.dog {
    text-align: center;
    border-radius: 5%;
    background-color: rgb(218, 217, 216);
}
